#### Import Libraries

In [1]:
import pandas as pd
import numpy as py
import matplotlib as plt 
import seaborn as sns
import regex as re

In [2]:
train = pd.read_csv('./datasets/train.csv')
test = pd.read_csv('./datasets/test.csv')
spray = pd.read_csv('./datasets/spray.csv')
weather = pd.read_csv('./datasets/weather.csv')

#### Change Header to Lowercase

In [3]:
for df in [train, test, spray, weather]:
    df.columns = df.columns.str.lower()

#### Check for Null Values

All datasets are complete and has no null values except for the spray dataset.

In [4]:
spray.shape

(14835, 4)

In [5]:
spray.isnull().sum()

date           0
time         584
latitude       0
longitude      0
dtype: int64

In [6]:
spray.fillna("", inplace=True)

The time columns in the spray dataset has a few null values we will replace them with blanks.

In [ ]:
# create a function for subplot histogram
def subplot_histograms(dataframe, list_of_columns, xlabels, ylabels, size):
    nrows = int(np.ceil(len(list_of_columns)/2)) # no. rows to populate 
    fig, ax = plt.subplots(nrows=nrows, ncols=2, figsize=size) # plot subplot, state no. of columns, determine figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, create positions for subplots
    
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column], color='pink',edgecolor='violet') # feel free to add more settings
        ax[i].set_title(column)   # set graph title
        ax[i].set_xlabel(xlabels) # set x label
        ax[i].set_ylabel(ylabels) # set y label
        ax[i].set_ylim(0,2050) # set y axis to 2050 (representing total rows in dataframe)   
    if len(list_of_columns) % 2 == 1:  # Turn off odd number of subplots            
        ax[-1].axis('off')
    sns.set(font_scale=1)  
    plt.tight_layout()

In [7]:
train.dtypes

date                       object
address                    object
species                    object
block                       int64
street                     object
trap                       object
addressnumberandstreet     object
latitude                  float64
longitude                 float64
addressaccuracy             int64
nummosquitos                int64
wnvpresent                  int64
dtype: object

In [8]:
train.describe()

,block,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

In [9]:
train['wnvpresent'].value_counts()

0    9955
1     551
Name: wnvpresent, dtype: int64

In [10]:
weather.dtypes

station          int64
date            object
tmax             int64
tmin             int64
tavg            object
depart          object
dewpoint         int64
wetbulb         object
heat            object
cool            object
sunrise         object
sunset          object
codesum         object
depth           object
water1          object
snowfall        object
preciptotal     object
stnpressure     object
sealevel        object
resultspeed    float64
resultdir        int64
avgspeed        object
dtype: object

In [11]:
weather.head(5)

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [12]:
weather['station'].value_counts()

1    1472
2    1472
Name: station, dtype: int64

#### EDA: CodeSum Weather Types

In [13]:
# get unique values in codesum
weather_types = weather['codesum'].unique()

# show unique weather types
all_weather_types = []
for i in weather_types:
    weather_code = re.findall(r'\w{2}\+*', i)
    all_weather_types += weather_code
    
# get unique weather code 
unique_weather_types = set(all_weather_types)
unique_weather_types

{'BC',
 'BR',
 'DZ',
 'FG',
 'FG+',
 'FU',
 'GR',
 'HZ',
 'MI',
 'RA',
 'SN',
 'SQ',
 'TS',
 'VC'}

split weather into 14 columns and return binary results

In [15]:
# create columns for unique_weather_types
for v in unique_weather_types:
    for codes in weather ['codesum']:
        weather[f'weathertype_{v}'] = (1 if  re.search(v,codes) is not None else 0)

#### EDA: date

In [17]:
for df in [train, test, spray, weather]:
    df[['year', 'month', 'day']] = pd.DataFrame([ x.split('-') for x in df['date'].tolist() ])

In [18]:
weather

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,weathertype_RA,weathertype_SN,weathertype_VC,weathertype_TS,weathertype_BC,weathertype_SQ,weathertype_HZ,year,month,day
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1,1,0,0,0,0,0,2007,05,01
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,1,1,0,0,0,0,0,2007,05,01
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,1,1,0,0,0,0,0,2007,05,02
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,1,1,0,0,0,0,0,2007,05,02
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,1,1,0,0,0,0,0,2007,05,03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,1,1,0,0,0,0,0,2014,10,29
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,1,1,0,0,0,0,0,2014,10,30
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,1,1,0,0,0,0,0,2014,10,30
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,1,1,0,0,0,0,0,2014,10,31
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,1,1,0,0,0,0,0,2014,10,31

In [19]:
pd.options.display.max_rows=999

In [20]:
weather

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,weathertype_RA,weathertype_SN,weathertype_VC,weathertype_TS,weathertype_BC,weathertype_SQ,weathertype_HZ,year,month,day
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1,1,0,0,0,0,0,2007,05,01
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,1,1,0,0,0,0,0,2007,05,01
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,1,1,0,0,0,0,0,2007,05,02
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,1,1,0,0,0,0,0,2007,05,02
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,1,1,0,0,0,0,0,2007,05,03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,1,1,0,0,0,0,0,2014,10,29
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,1,1,0,0,0,0,0,2014,10,30
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,1,1,0,0,0,0,0,2014,10,30
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,1,1,0,0,0,0,0,2014,10,31
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,1,1,0,0,0,0,0,2014,10,31

In [21]:
weather.groupby('station').describe().T

station                          1            2
tmax            count  1472.000000  1472.000000
                mean     75.978940    76.353261
                std      11.503150    11.421482
                min      42.000000    41.000000
                25%      68.000000    69.000000
                50%      78.000000    78.000000
                75%      85.000000    85.000000
                max     103.000000   104.000000
tmin            count  1472.000000  1472.000000
                mean     56.730978    58.889946
                std      10.347907    10.306855
                min      29.000000    29.000000
                25%      49.000000    51.000000
                50%      58.000000    60.000000
                75%      65.000000    67.000000
                max      82.000000    83.000000
dewpoint        count  1472.000000  1472.000000
                mean     53.377717    53.538043
                std      10.670263    10.683121
                min      22.000000    23.000000
                25%      46.000000    46.000000
                50%      54.000000    55.000000
                75%      61.250000    62.000000
                max      75.000000    74.000000
resultspeed     count  1472.000000  1472.000000
                mean      6.987092     6.934239
                std       3.586353     3.589725
                min       0.100000     0.300000
                25%       4.400000     4.275000
                50%       6.400000     6.500000
                75%       9.100000     9.225000
                max      24.100000    21.700000
resultdir       count  1472.000000  1472.000000
                mean     17.656250    17.333560
                std      10.222077     9.903450
                min       1.000000     1.000000
                25%       7.000000     8.000000
                50%      19.500000    19.000000
                75%      26.000000    24.000000
                max      36.000000    36.000000
weathertype_BR  count  1472.000000  1472.000000
                mean      1.000000     1.000000
                std       0.000000     0.000000
                min       1.000000     1.000000
                25%       1.000000     1.000000
                50%       1.000000     1.000000
                75%       1.000000     1.000000
                max       1.000000     1.000000
weathertype_DZ  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_FU  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_FG+ count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_GR  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_FG  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_MI  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_RA  count  1472.000000  1472.000000
                mean      1.000000     1.000000
                std       0.000000     0.000000
                min       1.000000     1.000000
                25%       1.000000     1.000000
                50%       1.000000     1.000000
                75%       1.000000     1.000000
                max       1.000000     1.000000
weathertype_SN  count  1472.000000  1472.000000
                mean      1.000000     1.000000
                std       0.000000     0.000000
                min       1.000000     1.000000
                25%       1.000000     1.000000
                50%       1.000000     1.000000
                75%       1.000000     1.000000
                max       1.000000     1.000000
weathertype_VC  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_TS  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_BC  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_SQ  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000
weathertype_HZ  count  1472.000000  1472.000000
                mean      0.000000     0.000000
                std       0.000000     0.000000
                min       0.000000     0.000000
                25%       0.000000     0.000000
                50%       0.000000     0.000000
                75%       0.000000     0.000000
                max       0.000000     0.000000

In [22]:
spray.head(3)

         date        time   latitude  longitude  year month day
0  2011-08-29  6:56:58 PM  42.391623 -88.089163  2011    08  29
1  2011-08-29  6:57:08 PM  42.391348 -88.089163  2011    08  29
2  2011-08-29  6:57:18 PM  42.391022 -88.089157  2011    08  29

In [23]:
spray['date'].value_counts()

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: date, dtype: int64

In [24]:
test['date'].value_counts()

2012-07-09    1293
2012-07-27    1282
2012-08-03    1282
2012-07-19    1260
2010-07-13    1257
2012-07-13    1256
2014-08-14    1254
2014-08-21    1253
2008-09-09    1248
2008-09-02    1247
2008-08-19    1247
2014-08-07    1247
2014-07-31    1245
2012-07-20    1245
2010-07-19    1241
2014-06-19    1236
2008-07-24    1234
2014-08-28    1234
2008-08-13    1233
2014-07-10    1233
2008-08-26    1232
2012-06-29    1231
2012-08-10    1231
2010-07-26    1229
2012-08-17    1229
2014-07-03    1229
2014-09-05    1229
2010-06-28    1227
2010-08-20    1225
2014-06-12    1225
2010-07-30    1225
2010-08-06    1224
2010-08-13    1224
2012-09-13    1224
2012-09-10    1223
2012-08-24    1223
2010-09-13    1223
2014-09-11    1222
2010-07-23    1222
2008-07-29    1222
2010-07-12    1221
2008-08-25    1221
2010-07-02    1221
2014-07-17    1220
2014-09-18    1220
2010-08-27    1219
2014-06-05    1218
2014-09-25    1218
2008-08-05    1218
2012-08-31    1218
2008-09-15    1217
2014-06-26    1217
2008-06-24    1217
2010-09-02    1217
2010-07-16    1217
2008-07-14    1217
2008-09-29    1216
2012-06-21    1216
2012-08-16    1216
2010-06-25    1216
2010-10-01    1215
2012-09-28    1215
2010-09-17    1215
2014-07-24    1215
2008-07-23    1215
2012-06-15    1214
2010-09-24    1214
2008-08-12    1214
2012-09-20    1214
2008-09-03    1213
2012-06-08    1213
2008-08-04    1213
2012-08-09    1213
2010-06-02    1212
2010-06-11    1211
2008-07-01    1211
2010-07-29    1211
2008-09-19    1211
2010-08-26    1210
2010-09-10    1210
2008-07-28    1210
2010-08-19    1209
2008-07-04    1209
2010-06-18    1209
2010-08-05    1209
2012-08-30    1209
2008-07-11    1209
2010-09-23    1208
2008-06-11    1208
2014-10-02    1208
2008-07-21    1208
2008-06-17    1208
2012-08-23    1208
2010-07-01    1208
2010-09-16    1208
Name: date, dtype: int64